[Unit]
Description=If the Extrenal Buttons are pressed

[Service]
Restart=always
RestartSec=3
User=root
ExecStart=python3 "/path/to/file/buttons.py"

[Install]
WantedBy=multi-user.target