[Unit]
Description=WiFi Connection Monitor

[Service]
Restart=always
RestartSec=3
User=root
ExecStart="/path/to/file/monitor_wifi.sh"

[Install]
WantedBy=multi-user.target