.speedometer {
  --num: 11;
  /* the total number of numbers */
  width: 100vmin;
  aspect-ratio: 2 / 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.speedometer>* {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1em);
  width: 2em;
  height: 70%;
  --deg: calc(180deg / calc(var(--num) - 1));
  transform: rotate(calc(-90deg + calc((var(--n) - 1) * var(--deg))));
  transform-origin: center bottom;
}

.speedometer>* * {
  display: flex;
  justify-content: center;
}

.speedometer>*>* {
  transform: rotate(calc(90deg - ((var(--n) - 1) * var(--deg))));
}

.speedometer> :nth-child(1) {
  --n: 1;
}

.speedometer> :nth-child(2) {
  --n: 2;
}

.speedometer> :nth-child(3) {
  --n: 3;
}

.speedometer> :nth-child(4) {
  --n: 4;
}

.speedometer> :nth-child(5) {
  --n: 5;
}

.speedometer> :nth-child(6) {
  --n: 6;
}

.speedometer> :nth-child(7) {
  --n: 7;
}

.speedometer> :nth-child(8) {
  --n: 8;
}

.speedometer> :nth-child(9) {
  --n: 9;
}

.speedometer> :nth-child(10) {
  --n: 10;
}

.speedometer> :nth-child(11) {
  display: inline-block;
  --n: 11;
}