body {
  /* The school's color */
  background-color: #061045;
  padding: 3vh;
}

p {
  /*font-family: Georgia, serif;*/
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.1em;
}

button {
  background-color: transparent;
  margin: 0.5em;
  border: 3px;
  border-style: solid;
  border-radius: 1em;
  color: black;

  /*font-family: Georgia, serif;*/
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.25em;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#outer {
  height: 94vh;
}

.row {
  height: 100%;
  gap: 1em;
}

.block {
  background-color: #ffffff;
  border-radius: 2ex;
  padding: 1em;
}

.halfblk {
  height: calc(50% - 0.5em);

}

.bordered {
  border: 3px;
  padding: 0;
  border-style: solid;
  border-radius: 2ex;
}

.heading {
  font-size: 2em;
  font-weight: bold;
}

.bignum {
  font-size: 4em;
  margin-bottom: 0px;
}

.data {
  text-decoration: underline;
}
