[Unit]
Description=Start up Base Station receiver and webserver
After=network.target

[Service]
Type=simple
User=basestation
ExecStart=/home/basestation/startup.sh
Restart=always
WorkingDirectory=/home/basestation

[Install]
WantedBy=multi-user.target
