[Unit]
Description=Buttons for Start collector, Stop collector, and restart pi.
After=multi-user.target

[Service]
Type=simple
User=car
ExecStart=/home/car/pyenv/bin/python3 /home/car/buttons.py
Restart=always
WorkingDirectory=/home/car

[Install]
WantedBy=multi-user.target
